/* Top
--------------------------------------------------------------*/
// CFO article-card
.top-cfo__text {
  font-family: $serif_font;
  font-size: 1.2rem;
  font-weight: bold;

  @include pc-screen {
    font-size: 1.8rem;
  }
}

.top-cfo__text-name {
  font-family: $serif_font;
  margin-bottom: 1.5em;
  font-size: 1.1rem;
  font-weight: bold;

  @include pc-screen {
    font-size: 1.4rem;
    margin-bottom: 0.5em;
  }
}

.top-cfo__text-wrap {
  margin-top: auto;
  padding: 42px 24px 32px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);

  @include pc-screen {
    padding: 30px 55px 22px;
    font-size: 1.4rem;
  }
}

// Article
.top-article-mb--01 {
  @include sp-screen {
    .p-article-wrap__item {
      margin-bottom: 54px;
    }
  }

  @include pc-screen {
    margin-bottom: 109px;
  }
}

.top-article-mb--02 {
  @include sp-screen {
    .p-article-wrap__item {
      &:first-of-type {
        margin-bottom: 40px;
      }

      &:nth-of-type(2) {
        margin-bottom: 47px;
      }

      &:nth-of-type(3) {
        margin-bottom: 39px;
      }
    }
  }

  @include pc-screen {
    margin-bottom: 73px;
  }
}

.top-article-mb--03 {
  @include sp-screen {
    .p-article-wrap__item {
      &:first-of-type {
        margin-bottom: 47px;
      }

      &:nth-of-type(2) {
        margin-bottom: 58px;
      }
    }
  }

  @include pc-screen {
    margin-bottom: 100px;
  }
}

.top-article-mb--04 {
  @include sp-screen {
    .p-article-wrap__item {
      &:first-of-type {
        margin-bottom: 50px;
      }

      &:nth-of-type(2) {
        margin-bottom: 40px;
      }
    }
  }

  @include pc-screen {
    margin-bottom: 80px;
  }
}

.top-article-mb--05 {
  @include sp-screen {
    .p-article-wrap__item {
      margin-bottom: 50px;
    }
  }

  @include pc-screen {
    margin-bottom: 100px;
  }
}

.top-article-mb--06 {
  @include sp-screen {
    .p-article-wrap__item {
      margin-bottom: 50px;
    }
  }

  @include pc-screen {
    margin-bottom: 85px;
  }
}

.top-article-height--01 {
  @include pc-screen {
    min-height: 600px;
  }
}

.top-article-height--02 {
  @include pc-screen {
    min-height: 570px;
  }
}

.top-article-height--03 {
  @include pc-screen {
    min-height: 520px;
  }
}

// link
.top-link--center {
  text-align: center;
}

// spacing
.top-mg--01 {
  margin-top: 50px;
  margin-bottom: 60px;

  @include pc-screen {
    margin-top: 95px;
    margin-bottom: 130px;
  }
}

.top-mg--02 {
  margin-top: 35px;
  margin-bottom: 75px;

  @include pc-screen {
    margin-top: 150px;
    margin-bottom: 100px;
  }
}

.top-mg--03 {
  margin-top: 45px;
  margin-bottom: 60px;

  @include pc-screen {
    margin-top: 120px;
    margin-bottom: 110px;
  }
}

.top-mg--04 {
  margin-top: 30px;

  @include pc-screen {
    margin-top: 130px;
  }
}
