<footer class="l-footer">
	<div class="l-footer__inner">
		<img src="/assets/img/footer_logo.png" alt="" class="l-footer__logo">

		<div class="l-footer__content">
			<div class="l-footer__content__inner">
				<p class="l-footer__heading">Sitemap</p>
				<ul class="l-footer__link__wrap">
					<li><a href="#">TOP</a></li>
					<li><a href="#">第二階層</a>
						<ul class="l-footer__link__inner">
							<li class="l-footer__link__item"><a href="#">第三階層</a></li>
							<li class="l-footer__link__item"><a href="#">第三階層</a></li>
							<li class="l-footer__link__item"><a href="#">第三階層</a></li>
						</ul>
					</li>
					<li><a href="#">第二階層</a></li>
					<li><a href="#">第二階層</a>
						<ul class="l-footer__link__inner">
							<li class="l-footer__link__item"><a href="#">第三階層</a></li>
							<li class="l-footer__link__item"><a href="#">第三階層</a></li>
							<li class="l-footer__link__item"><a href="#">第三階層</a></li>
						</ul>
					</li>
					<li><a href="#">第二階層</a>
						<ul class="l-footer__link__inner">
							<li class="l-footer__link__item"><a href="#">第三階層</a></li>
							<li class="l-footer__link__item"><a href="#">第三階層</a></li>
							<li class="l-footer__link__item"><a href="#">第三階層</a></li>
						</ul>
					</li>
					<li><a href="#">第二階層</a></li>
				</ul>
			</div>
			<div class="l-footer__content__inner">
				<p class="l-footer__heading">Share</p>
				<ul class="l-footer__sns">
					<li class="l-footer__sns__icon"><a href="#"><img src="/assets/img/logo_facebook.png" alt="facebook"></a></li>
					<li class="l-footer__sns__icon"><a href="#"><img src="/assets/img/logo_twitter.png" alt="twitter"></a></li>
				</ul>
			</div>
		</div>

		<div class="l-footer__content">
			<div class="l-footer__content__inner">
				<p class="l-footer__heading">Company</p>
				<ul class="l-footer__company">
					<li>Zホールディングス株式会社</li>
					<li><a href="tel:000000000">TEL 000000000</a><br class="u-pc"><a href="mailto:www@aaaa">Mail www@aaaa</a></li>
					<li>〒102-8282<br class="u-pc">東京都千代田区紀尾井町1-3<br>東京ガーデンテラス紀尾井町 紀尾井タワー</li>
				</ul>
			</div>
			<div class="l-footer__content__inner">
				<p class="l-footer__heading">Group</p>
				<ul class="l-footer__group">
					<li><a href="#">group.com</a></li>
					<li><a href="#">group.com</a></li>
					<li><a href="#">group.com</a></li>
				</ul>
			</div>
		</div>
	</div>
	<small class="l-footer__copy">Copyright (C) Z Holdings Corporation. All Rights Reserved.</small>
</footer>
