<header class="l-header">
	<div class="l-header__inner">
		<h1 class="l-header__logo"><img src="/assets/img/header_logo_pc.png" alt="Z HOLDINGS 統合報告ポータル" class="js-mediaSwitchImg"></h1>
		<nav class="l-header__nav">
			<div class="l-header__nav__button">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<ul class="l-header__nav__menu">
				<li class="l-header__nav__item"><a href="#">ビジョンと戦略</a></li>
				<li class="l-header__nav__item"><a href="#">企業価値向上プロセス</a></li>
				<li class="l-header__nav__item"><a href="#">業績概況</a></li>
				<li class="l-header__nav__item"><a href="#">サステナビリティ</a></li>
				<li class="l-header__nav__item"><a href="#">第5コンテンツ</a></li>
				<li><a href="#" class="l-header__nav__lang">EN</a></li>
			</ul>
		</nav>
	</div>
</header>
