/* reset
--------------------------------------------------------------*/
::-webkit-input-placeholder {
  color: inherit;
}

:-moz-placeholder {
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;

  &:focus {
    outline: none;
  }
}

input[type='submit'],
input[type='button'] {
  border-radius: 0;
  appearance: button;

  &::-webkit-search-decoration {
    display: none;
  }

  &:focus {
    outline-offset: -2px;
  }
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

/* Base
--------------------------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: $base_background;
  min-width: 1180px;
  font-family: $base_font;
  font-size: $base_font_size_pc;
  line-height: $base_line_height_pc;
  color: $font_color;
  font-feature-settings: 'palt';
  @include sp-screen {
    min-width: 0;
    font-size: $base_font_size_sp;
    line-height: $base_line_height_sp;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  body {
    font-feature-settings: 'pkna';
  }
}

img {
  vertical-align: bottom;
}

@include sp-screen {
  img {
    width: 100%;
    height: auto;
  }
}

/* Link
--------------------------------------------------------------*/
a {
  color: $link_color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $link_color_hover;
    opacity: $hover_opacity;
  }

  &[href^='mailto:'] {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

/* テキスト選択
--------------------------------------------------------------*/
::selection {
  color: #fff;
  background: $accent_color;
}

::-moz-selection {
  color: #fff;
  background: $accent_color;
}
