/* Content
--------------------------------------------------------------*/

%content-inner {
  margin: 0 auto;
  position: relative;
}

.l-content__wrap {
  width: 100%;
}

.l-content__inner--01 {
  @extend %content-inner;
  width: 77%;

  @include pc-screen {
    width: 1368px;
    padding: 0 94px;
  }
}

.l-content__inner--02 {
  @extend %content-inner;
  width: 91%;

  @include pc-screen {
    width: 1368px;
    padding: 0 94px;
  }
}


