/* Footer
--------------------------------------------------------------*/
.l-footer {
  font-size: 1rem;
  margin-top: 22px;
  background: #000;
  color: #fff;
  text-align: center;

  @include pc-screen {
    margin-top: 137px;
    font-size: 1.2rem;
    text-align: left;
  }

  a {
    color: #fff;
  }
}

.l-footer__inner {
  padding: 30px 0 0;

  @include pc-screen {
    padding: 55px 6.94% 0 10.45%;
  }
}

// logo
.l-footer__logo {
  width: 14%;
  display: block;
  margin: 0 auto 38px;

  @include pc-screen {
    width: 74px;
    margin-bottom: 110px;
  }
}

// content
.l-footer__content {
  @include pc-screen {
    display: flex;
  }

  &:nth-of-type(2) {
    margin-top: 50px;

    @include pc-screen {
      margin-top: 85px;
    }
  }

  &:first-of-type {
    @include sp-screen {
      .l-footer__content__inner:nth-of-type(2) {
        margin-top: 55px;
      }
    }
  }

  &:nth-of-type(2) {
    @include sp-screen {
      .l-footer__content__inner:nth-of-type(2) {
        margin-top: 45px;
      }
    }
  }
}

.l-footer__content__inner {
  @include pc-screen {
    &:first-of-type {
      width: 730px;
      margin-right: 40px;
    }

    &:nth-of-type(2) {
      width: 340px;
    }
  }
}

// footer heading
.l-footer__heading {
  padding-bottom: 7px;
  font-size: 1rem;
  border-bottom: solid 1px rgba(255, 255, 255, .2);

  @include sp-screen {
    width: calc(100% - 28px);
    margin: 0 auto;
  }
}

// link
.l-footer__link__wrap {
  margin-top: 15px;

  @include pc-screen {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    @include sp-screen {
      &:not(:first-of-type) {
        margin-top: 15px;
      }
    }
  }

  > li {
    @include pc-screen {
      &:first-of-type {
        margin-right: 80px;
      }

      &:nth-of-type(2) {
        margin-right: 50px;
      }

      &:nth-of-type(3) {
        margin-right: 60px;
      }

      &:nth-of-type(4) {
        margin-right: 53px;
      }

      &:nth-of-type(5) {
        margin-right: 50px;
      }
    }
  }
}

.l-footer__link__inner {
  display: none;

  @include pc-screen {
    margin-top: 15px;
    display: block;
  }
}

.l-footer__link__item {
  position: relative;

  &::before {
    content: ">";
    padding-right: .25em;
    width: 1em;
    height: 1em;
  }
}

// sns
.l-footer__sns {
  margin: 20px auto 0;
  display: flex;
  align-items: flex-start;

  @include sp-screen {
    width: 94px;
  }
}

.l-footer__sns__icon {
  width: 50%;
  display: block;

  @include pc-screen {
    width: 50px;
  }

  &:first-of-type {
    margin-right: 18px;

    @include pc-screen {
      margin-right: 24px;
    }
  }

  a {
    display: block;
  }

  img {
    width: 100%;
    height: auto;
  }
}

// Company
.l-footer__company {
  @include pc-screen {
    margin-top: 15px;
    display: flex;
  }

  li {
    line-height: 1.8;

    &:first-of-type {
      margin: 19px 0 0 0;

      @include pc-screen {
        margin: 0 65px 0 0;
      }
    }

    &:nth-of-type(2) {
      margin: 0 0 15px 0;

      @include pc-screen {
        margin: 0 90px 0 0;
      }
    }
  }
}

// Group
.l-footer__group {
  margin-top: 6px;

  @include pc-screen {
    margin-top: 15px;
  }
}

// Copyright
.l-footer__copy {
  width: 100%;
  margin-top: 35px;
  padding: 2px 0;
  display: block;
  background: #bebeb6;
  font-size: .6rem;
  color: $font_color;
  text-align: center;

  @include pc-screen {
    margin-top: 60px;
    padding: 12px 0 11px;
    font-size: 1.2rem;
  }
}
