/* glid
--------------------------------------------------------------*/
.l-glid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.l-glid-item--4col {
  width: calc(50% - 6px);

  &:nth-of-type(n+3) {
    margin-top: 8px;
  }

  @include pc-screen {
    width: 280px;
  }
}
