/* Header
--------------------------------------------------------------*/
.l-header {
  width: 100%;
  padding: 12px 15px 10px;
  background: #fff;
  border: solid 1px #edefed;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  @include pc-screen {
    height: 80px;
    padding: 0 22px 0 40px;
  }
}

.l-header__inner {
  position: relative;

  @include pc-screen {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.l-header__logo {
  width: 32%;
  margin: 0 auto;

  @include pc-screen {
    width: 142px;
    margin: 0;
  }
}

// nav
.l-header__nav {
  @include pc-screen {
    display: flex;
    align-items: center;
  }
}

.l-header__nav__menu {
  display: flex;

  @include sp-screen {
    display: none;
  }
}

.l-header__nav__item {
  position: relative;

  a {
    padding: 28px 0;
    display: block;
    color: $font_color;

    &:hover {
      color: $font_color;
      text-decoration: none;
      font-weight: bold;
      opacity: 1;

      &::after {
        content: '';
        width: 100%;
        height: 3px;
        background: #000;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }

  &:first-of-type {
    margin-right: 70px;
  }

  &:nth-of-type(2) {
    margin-right: 50px;
  }

  &:nth-of-type(3) {
    margin-right: 60px;
  }

  &:nth-of-type(4) {
    margin-right: 40px;
  }

  &:nth-of-type(5) {
    margin-right: 25px;
  }
}


.l-header__nav__lang {
  margin-top: 20px;
  padding: 5px 10px;
  color: $font_color;
  border: solid 1px #d2d2cc;
  display: block;

  &:hover {
    color: $font_color;
    text-decoration: none;
    opacity: 1;
  }

  @include sp-screen {
    display: none;
  }
}

.l-header__nav__button {
  width: 20px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;

  @include pc-screen {
    display: none;
  }

  span {
    width: 100%;
    height: 3px;
    display: block;
    background: #000;
    position: relative;
    right: 0;

    &:first-of-type {
      top: 0;
    }

    &:nth-last-of-type(2) {
      top: 3px;
    }

    &:last-of-type {
      top: 6px;
    }
  }
}
