/* Article wrap
--------------------------------------------------------------*/
// 2col
.p-article-wrap__2col {
  @include pc-screen {
    display: flex;
    justify-content: space-between;
  }

  @include pc-screen {
    padding: 0 50px;
  }

  .p-article-wrap__item {
    @include sp-screen {
      width: 100%;
  }

    @include pc-screen {
      width: 480px;
    }
  }
}

.p-article-wrap__2col--narrow {
  @include pc-screen {
    display: flex;
    justify-content: center;
  }

  .p-article-wrap__item {
    @include sp-screen {
      width: 100%;
  }

    @include pc-screen {
      width: 330px;
    }

    &:first-of-type {
      @include pc-screen {
        margin-right: 70px;
      }
    }
  }
}

// 3col
.p-article-wrap__3col {
  @include pc-screen {
    display: flex;
    justify-content: space-between;
  }

  @include pc-screen {
    padding: 0 22px;
  }

  .p-article-wrap__item {
    @include sp-screen {
      width: 100%;
  }

    @include pc-screen {
      width: 330px;
    }
  }
}
