/* Lead
--------------------------------------------------------------*/
%lead-wrap {
  margin: 50px 0 32px;
  padding: 0 10.4% 0 6.9%;

  @include pc-screen {
    width: 1408px;
    margin-bottom: 78px;
    padding: 0 94px;
    display: flex;
  }
}

.p-lead__wrap--primary {
  @extend %lead-wrap;
}

.p-lead__wrap--secondary {
  @extend %lead-wrap;

  @include pc-screen {
    justify-content: center;
  }
}

%lead-text-wrap {
  width: calc(100% - 3.22%);
  padding: 10px 20px 34px;
  background: #fff;

  @include pc-screen {
    width: 500px;
    margin: 0 0 0 40px;
    padding: 30px 40px 30px;
  }
}

.p-lead__text-wrap--primary {
  @extend %lead-text-wrap;

  @include sp-screen {
    margin: 45px 0 0 auto;
  }
}

.p-lead__text-wrap--secondary {
  @extend %lead-text-wrap;

  @include sp-screen {
    margin: 30px 0 0 auto;
  }
}

%lead-title {
  font-size: 1.8rem;
  font-family: $serif_font;
  font-weight: bold;

  @include pc-screen {
    font-size: 2.4rem;
  }
}

.p-lead__title--primary {
  @extend %lead-title;
  margin-bottom: 20px;

  @include pc-screen {
    margin-bottom: 30px;
  }
}

.p-lead__title--secondary {
  @extend %lead-title;
  margin-bottom: 15px;

  @include pc-screen {
    margin-bottom: 90px;
  }
}

.p-lead__sub-title {
  margin-bottom: 0.5em;
  font-size: 1.1rem;
  font-family: $serif_font;
  font-weight: bold;

  @include pc-screen {
    margin-bottom: 1.25em;
    font-size: 1.4rem;
  }
}

.p-lead__text {
  font-size: 0.9rem;

  @include pc-screen {
    font-size: 1.4rem;
  }
}

.p-lead__button {
  display: block;
  margin: 40px auto 0;

  @include pc-screen {
    margin-top: 60px;
  }
}
