/* Article card
--------------------------------------------------------------*/

%article-card {
  color: $font_color;
  position: relative;
  box-shadow: 5px 5px 5px rgba(88, 79, 27, 0.4);

  &:hover {
    color: $font_color;
    text-decoration: none;
    opacity: 1;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      border-right: solid 4px #000;
      border-bottom: solid 4px #000;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
    }

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 21px 21px;
      border-color: transparent transparent #000 transparent;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .c-article-card__heading--primary,
    .c-article-card__heading--secondary,
    .c-article-card__heading--tertiary {
      background: #000;
    }
  }

  a {
    color: $font_color;

    &:hover {
      color: $font_color;
      text-decoration: none;
      opacity: 1;
    }
  }
}

%article-card-heading {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  background: #bebeb6;
}

// article-card
.c-article-card--primary {
  @extend %article-card;
  display: block;
}

.c-article-card--secondary {
  @extend %article-card;
  min-height: 101.333vw;
  display: flex;
  flex-direction: column;

  @include pc-screen {
    min-height: 640px;
  }

  .c-article-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

// heading
.c-article-card__heading--primary {
  @extend %article-card-heading;
  padding: 8px 10px 7px;

  @include pc-screen {
    padding: 17px 10px;
    font-size: 1.8rem;
  }
}

.c-article-card__heading--secondary {
  @extend %article-card-heading;
  width: 200px;
  padding: 0 10px;
  font-size: 1.4rem;
  position: absolute;
  top: -1em;
  left: 0;

  @include pc-screen {
    width: 330px;
    font-size: 1.8rem;
  }
}

.c-article-card__heading--tertiary {
  @extend %article-card-heading;
  padding: 8px 10px 7px;

  @include pc-screen {
    padding: 12px 10px 11px;
    font-size: 1.8rem;
  }
}

// text
.c-article-card__text--accent {
  margin-bottom: 1.5em;
  font-size: 1.2rem;
  font-family: $serif_font;
  font-weight: bold;

  @include pc-screen {
    font-size: 1.8rem;
  }
}

.c-article-card__text--accent-large {
  font-size: 1.8rem;
  font-family: $serif_font;
  font-weight: bold;
}

.c-article-card__text-wrap {
  padding: 28px 15px 32px;
  background: #fff;
  position: relative;
  font-size: 1rem;

  @include pc-screen {
    padding: 45px 25px 28px;
    font-size: 1.4rem;
  }
}

// image
.c-article-card__image {
  width: 100%;
  height: auto;
}
