/* Button
--------------------------------------------------------------*/
%button {
  font-size: 0.7rem;

  @include pc-screen {
    font-size: 1.4rem;
  }
}

.c-button--primary {
  @extend %button;
  width: 105px;
  padding: 4px 5px;
  letter-spacing: 0.25em;
  display: inline-block;
  color: #fff;
  background: $accent_color;
  transition: 0.3s;
  text-align: center;

  @include pc-screen {
    width: 210px;
    padding: 13px 10px;
    letter-spacing: 0.5em;
  }

  &:hover {
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
  }
}
