/* Heading
--------------------------------------------------------------*/
%heading-serif {
  color: $font_color;
  font-family: $serif_font;
}

.c-heading--primary {
  @extend %heading-serif;
  width: 92.4%;
  font-size: 2.4rem;
  text-align-last: right;
  position: relative;

  @include pc-screen {
    width: 83.9%;
    font-size: 4.8rem;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    width: 9px;
    height: 50px;
    bottom: -39px;
    background: #000;
    left: 0;

    @include pc-screen {
      width: 18px;
      height: 99px;
      bottom: -75px;
    }
  }

  &::after {
    width: 100%;
    height: 1px;
    background: #949494;
    position: absolute;
    bottom: 10px;
    right: 0;
    z-index: -1;

    @include pc-screen {
      bottom: 23px;
    }
  }

  span {
    &::before,
    &::after {
      content: '';
      position: absolute;
      z-index: -2;
    }

    &::before {
      width: 54px;
      height: 54px;
      right: -11px;
      background: #f2f2f0;
      top: 5px;

      @include pc-screen {
        width: 107px;
        height: 107px;
        right: -30px;
      }
    }

    &::after {
      width: 8px;
      height: 8px;
      background: #000;
      top: 5px;
      right: -11px;

      @include pc-screen {
        width: 17px;
        height: 18px;
        right: -30px;
      }
    }
  }
}

// heading image
%heading-image {
  min-width: 108px;
  padding: 0 6px;
  font-size: 1.2rem;
  color: #fff;
  background: #000;
  position: absolute;

  @include pc-screen {
    min-width: 215px;
    padding: 0 13px;
    font-size: 2.4rem;
  }
}

.c-heading__image__wrap--primary {
  position: relative;

  img {
    margin-left: 3.22%;
    box-shadow: 5px 5px 5px rgba(88, 79, 27, 0.4);

    @include sp-screen {
      width: calc(100% - 3.22%);
    }

    @include pc-screen {
      margin-left: 20px;
    }
  }
}

.c-heading__image--primary {
  @extend %heading-image;
  top: 36%;
  transform: translateY(-50%);

  @include pc-screen {
    top: 206px;
  }
}

.c-heading__image--secondary {
  @extend %heading-image;
  top: 24%;
  transform: translateY(-50%);

  @include pc-screen {
    top: 135px;
  }
}
