/* Hero
--------------------------------------------------------------*/
.c-hero {
  width: 100%;
  height: 106.667vw;
  margin: 60px 0 33px;
  position: relative;
  background: url('/assets/img/hero_bg_sp.jpg') center center/cover no-repeat;

  @include pc-screen {
    height: 400px;
    margin: 80px 0;
    background-image: url('/assets/img/hero_bg_pc.jpg');
  }
}

// heading
.c-hero__heading {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include sp-screen {
    width: 76%;
  }

  @include pc-screen {
    top: 50%;
  }
}

// time
.c-hero__time {
  font-size: 0.8rem;
  color: #666;
  position: absolute;
  bottom: 2%;

  @include sp-screen {
    left: 50%;
    transform: translateX(-50%);
  }

  @include pc-screen {
    font-size: 1.4rem;
    bottom: 11px;
    right: 95px;
  }
}
