/* Link
--------------------------------------------------------------*/
.c-link__text {
  font-size: 1.4rem;
  color: $font_color;
  display: inline-block;

  &:hover {
    color: #ccc;
    text-decoration: none;
  }

  &::after {
    content: '>';
    padding-left: 0.25em;
    width: 1em;
    height: 1em;
  }
}

.c-link__image {
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
}

