/* Scroll nav
--------------------------------------------------------------*/
.c-scroll-nav {
  @include sp-screen {
    display: none;
  }

  height: 400px;
  position: fixed;
  top: 144px;
  left: 30px;
  z-index: 2;

  &::before {
    content: '';
    width: 1px;
    height: 400px;
    display: block;
    background: #e1e0e1;
  }
}

.c-scroll-nav__icon {
  width: 9px;
  height: 9px;
  background: #fff;
  border: solid 1px #e1e0e1;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  &.is-active {
    border-color: #000;
  }

  &:first-of-type {
    top: 0;
  }

  &:nth-of-type(2) {
    top: 80px;
  }

  &:nth-of-type(3) {
    top: 160px;
  }

  &:nth-of-type(4) {
    bottom: 160px;
  }

  &:nth-of-type(5) {
    bottom: 80px;
  }

  &:nth-of-type(6) {
    bottom: 0;
  }
}

.c-scroll-nav__text {
  padding-top: 8px;
  display: none;
  writing-mode: vertical-rl;
  position: absolute;
  left: 7px;

  &::before {
    content: '';
    width: 1em;
    height: 1px;
    display: block;
    background: #000;
    position: absolute;
    top: 0;
    left: 0.4em;
  }

  &.is-active {
    display: block;
  }

  &:first-of-type {
    top: 5px;
  }

  &:nth-of-type(2) {
    top: 84px;
  }

  &:nth-of-type(3) {
    top: 164px;
  }

  &:nth-of-type(4) {
    bottom: 40px;
  }

  &:nth-of-type(5) {
    bottom: -39px;
  }

  &:nth-of-type(6) {
    bottom: -120px;
  }
}
