$base_background: #fff;
$base_font: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', '游ゴシック', YuGothic, 'メイリオ', 'Meiryo', sans-serif;
$serif_font: 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', '游明朝', YuMincho, 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
$base_width: 1220px;
$base_font_size_pc: 1.4rem;
$base_font_size_sp: 1.4rem;
$base_line_height_pc: 1.75;
$base_line_height_sp: 1.75;

$font_color: #000;
$link_color: #e90000;
$link_color_hover: #e90000;
$accent_color: #e90000;
$hover_opacity: 0.5;

//z-index 上＜下
//z-index: z(hoge);
$z_map: (
  hoge1,
  hoge2,
  hoge3
);
